.userPage
  display: flex
  justify-content: center
  align-items: start
  min-height: 100vh

  .userPageWrapper
    display: flex
    flex-direction: column
    gap: 10px
    width: 100%
    max-width: 1200px
    padding: 50px 25px 0

    .errorText
      color: red
